
.index-container{
  text-align: center;
}

.index-container, .index-container ul, .index-container ul li{
  margin: 0 auto;

}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-right: 32px;
}

ul li{
  padding: 20px;
}


.top-image {
  height: 200px;
}

.bottom-image {
  position: absolute;
  right: 9px;
  bottom: 134px;
}