
.index-container{
  text-align: center;
}


ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 5rem;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

ul li{
  padding: 20px;
}


.top-image {
  height: 200px;
}

.bottom-image {
  position: absolute;
  right: 9px;
  bottom: 134px;
}





